core/src/test/resources/org/hisrc/xml/bind/tests/JAXB_1045/ab/d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:d" elementFormDefault="qualified"
	xmlns:d="urn:d"
	xmlns:e="urn:e">

	<import namespace="urn:e" schemaLocation="e.xsd"/>
	<element name="d" type="d:DType"/>
	<complexType name="DType">
		<sequence>
			<element name="s" type="string"/>
			<element name="e" type="e:EType"/>
		</sequence>
	</complexType>
</schema>
